* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* HEADER AND NAV BAR */

header{
    position: relative;
}

.logo {
    position:absolute;
    top: 20px;
    left: 20px;
    z-index: 103;
}

.logo img{
    width: 60px;
}

.navbar {
	min-height: 50px;
    
}

.mainnav {
	display: none;
	position: fixed;
	z-index:99;
	top:0px;
	left: 0px;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	padding-top: 50px;
    background-color:#fff;
    
}

.mainnav a {
	font-size: 20px;
	font-family: 'Spectral', serif;
	text-decoration: none;
	padding: 20px;
	color: #4D4D4D;
	display: block;
    text-transform: uppercase;
}

.mainnav a:hover {
    background-color: #E54E6D;
}

.burger {
	font-size: 25px;
	color: #E54E6D;
	position: absolute;
    display: inline-block;
	right: 20px;
	top: 20px;
    z-index: 102;
}

.closebtn {
	font-size: 25px;
	color: #E54E6D;
	position: absolute;
	right: 23px;
	top: 20px;
	display:none;
	z-index: 102;
}

.navbar input {
	z-index: 104;
	padding: 30px;
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0;
    cursor: pointer;
}

.navbar input:checked ~ .mainnav {
	display: block;

}

.navbar input:checked ~ .burger {
	display: none;

}

.navbar input:checked ~ .closebtn {
	display: block;

}

.hide_small {
	display: none;
}

/* HERO SECTION */

#hero {
    background-image: url("../imgs/hero.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	height:280px;
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

#hero h1 {
    font-family: roboto;
    font-size: 15px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-transform: capitalize;
    color:#4D4D4D;
    letter-spacing: 5px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#hero .cta {
    background:#E8708D;
    border-radius: 5px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 75%;
    padding: 4px 10px;
}

#hero .cta:hover {
    background:#e4305a;
}

#hero .cta a{
    color: #fff;
    font-family: lato;
    font-size: 11px;
    
    text-decoration: none;
    text-transform: uppercase;
}

/* MAIN PRODUCTS SECTION */


.second-nav {
    display: flex;
}

.dropbtn {
    color: #4D4D4D;
    padding: 10px;
    font-size: 10px;
    border: none;
    background-color: none;
    width: 100%;
    margin-top: -80px;
}

.dropbtn:hover{
    background-color: #c2c2c2;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #d5d5d5;
}
  
.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
.products a {
    color: #4D4D4D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'roboto', sans-serif;
}
  
.dropdown-content a:hover {
    background-color: #ee869e;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.products {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-bottom: 70px;
    
}

.products .list img {
    width: 200px;
    margin-right: 15px;
}

.products .list {
    display: flex;

}

.product-list i{
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    color: #E54E6D;
    cursor: pointer;
}

.product-list i:hover{
    color: #dd2449
}


.products h1 {
    font-family: roboto;
    font-size: 16px;
    color:#4D4D4D;
    margin-bottom: 5px;
    margin-top: 35px;
}

.products p {
    font-family: roboto;
    font-size: 14px;
    color:#4D4D4D;
    width: 200px;
    margin-bottom: 3px;
}

.products p:nth-child(3){
    color:#e4305a;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.products p:nth-child(4){
    font-size: 10px;
}

/* login page */

b, .log-message, .container label .form-group label{
    font-family: roboto;
    font-size: 14px;
    color:#4D4D4D;
    width: 200px;
    margin-bottom: 3px;
}

/* Bordered form */
.login-form form {
    border: 3px solid #f1f1f1;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button.sub {
    background-color: #e4305a;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #999999;
    border: none;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 100px;
    margin-bottom: 20px;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

/* admin */

table i, .imgcontainer i {
    color: #e4305a;
    margin-left: 10px;
}
 
table img {
    width: 40px;
}

.admin-desc {
    display:flex;
    align-items: baseline;
}

.admin-desc p, .admin-desc i {
    transform: translateY(-10px);
}

@media only screen and (min-width: 600px) {

/* HEADER AND NAV BAR */

    header {
        position:relative;
    }

    .logo img {
        width: 90px;
        margin-left: 50px;
    }

	.hide_wide {
		display: none;
	}

	.hide_small {
		display: inline;
		text-align: left;
		min-height:auto;
		position: static;
		left: auto;
		top: auto;
		background: none;
		padding-top: 0px;
	}
 
  	.mainnav-bar {
		position: absolute;
		right: 100px;
        margin-top: 40px;
        z-index: 100;
        overflow: hidden;
        display: flex;
    }

	.mainnav-bar a{
		font-size: 13px;
        font-family: 'lato', sans-serif;
        color: #4D4D4D;
		text-decoration: none;
		padding: 0 18px;
        overflow: hidden;
        text-transform: uppercase;
        display: inline;
	}

    .mainnav-bar a:nth-child(1){
        color:#E54E6D;
    }

    .mainnav-bar a:hover {
        color:#E54E6D;
    }

    /* .mainnav-bar .active a{
        color: #E54E6D;
    } */

    input[type=text] {
        padding: 2px;
        border: none;
        margin-right: 16px;
        font-size: 13px;
        margin-left: 10px;
    }
    
    /* HERO SECTION */

    #hero {
        background-size: cover;
        height:100vh;
        position: relative;
       margin-top: 0px;
    }

    #hero h1 {
        font-size: 55px;
        top: 22%;
    }

    #hero .cta {

        top: 85%;
        padding: 8px 18px;
    }
    
    #hero .cta a{
        font-size: 18px;
    }

    /* MAIN PRODUCT SECTION */

    .dropbtn {
        padding: 10px;
        font-size: 15px;
        margin-top: 0px;
    }

    .dropbtn, .dropdown-content {

        right:0px;
    }

    .products {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin-bottom: 100px;
    }
    
    .products .list img {
        width: 300px;
        margin-top: 20px;
        margin-right: 0px;
    }
    
    .products .list {
        display: inline;
    }

    .product-row {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .products h1 {
        font-size: 20px;
        margin-top: -40px;
        margin-left: 20px;
    }
    
    .products p {
        color:#4D4D4D;
        width: 300px;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 15px;
    }

    /* login */
    span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
}
