<!-- PAGE FOOTER -->
		<footer class="page-footer">
			<div class="row container">
				<section class="col-3">
					<h3>Contact</h3>
					<ul class="contact-list">
						<li>details</li>
						<li>details</li>
					</ul>
				</section>
				<section class="col-9">
					<h3>Location</h3>
					<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8754.237208393613!2d-123.12066137021503!3d49.28302333703479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717893865d35%3A0xa8d10bdb2ca1c083!2sVancouver+Institute+of+Media+Arts+(VanArts)!5e0!3m2!1sen!2sca!4v1493408426116"></iframe>
				</section>
			</div>
			
			<div class="copyright-footer">
				<p class="copyright-text">James Finn &copy; 2017</p>
			</div>
		</footer>
		<!-- END/ PAGE FOOTER -->
    </body>
</html>
