<!DOCTYPE html>
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Basic Grid View</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">  
    	<link rel="icon"  href="favicon.ico">

    </head>

    <body>
    	<!-- Top HEADER SECTION -->
		<header class="page-header">
			<img class="header-img" src="img/james_face.jpg" alt="james finn">
			<h1>James Finn</h1>
			<p>Web Developer</p>
			<p>jamesfinn180@hotmail.com</p>
		</header>
		<nav class="navbar">
			<ul class="navbar-ul">
				<li class="navbar-li"><a class="navbar-a" href="#">Home</a></li>
				<li class="navbar-li"><a class="navbar-a" href="#">About</a></li>
				<li class="navbar-li"><a class="navbar-a" href="#">Gallery</a></li>
				<li class="navbar-li"><a class="navbar-a" href="#">Contact</a></li>
			</ul>
		</nav>